@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@1&family=PT+Serif:ital@1&display=swap');
:root 

body {
    background-color: #6e8392;
    font-family: 'Inclusive Sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding:0;
    z-index: 1;
}
#content {
    margin: 0 auto;
    max-width: 1600px;
}
header {
    background-color:#fff6cb;
    font-family: Haettenschweiler,'PT Serif', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    display: grid;
    grid-template-columns: 150px auto;
    height: 75px;
    max-width: 100%;
}
.logo {
    width: 60px;
    border-radius: 50%;
    border: 2px solid black;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;;
}
nav a {
    text-align: center;
    color:black;
    text-decoration: none;
    padding: 5px;
}
nav a:hover {
    background-color: #6e8392;
    color:white;
    padding: 5px;
    width: 80px;
    margin-bottom: 20px
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width:1600px;
    border-top: 7px #6e8392 solid ;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px
}
#hero-msg h4 {
    color: white;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}
#hero-msg h1 {
    font-size: 50px;
}
.button-box {
    text-align: center;
    width: 100%;
    height: 25px;
}
.book {
    background-color: #fff6cb;
    color:black;
    text-decoration: none;
    text-align: center;
    width: 70px;
    height: 70px;
    padding: 5px; 
    border-radius: 10px;
    border: 4px ridge black
}
.book:hover {
    background-color:aliceblue;
    color:darkslategrey;
    text-align: center;
}
.home-grid {
    /* controls all things for the main section */
    text-align: center;
    display: grid;
    grid-template-columns: 10fr;
    max-width: 1600px;
}
.card-img {
    /* controls all image features in the main section */ 
    text-align: center;
    border: 6px solid black;
    border-radius: 3%;
    height: auto;
    width: 480px;
    transition: transform .5s;
    margin: 20px;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.camping-card {
    grid-column: 2/3;
    grid-row: 2/3;
}
.rivers-card {
    grid-column: 4/5;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
main h2 {
    color: aliceblue;
    font-family: 'Arial Narrow Bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.icon {
    /* controls small icon images */
    width: 80px;
    color:rgb(15, 14, 14);
    background-color: aliceblue;
    border-radius: 30px;
    border: 2px solid black;
}
#background {
    height: 900px;
    width: 100%;
    background-color:white;
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    /* controls bottom image */
    text-align: center;
    margin: 20px;
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px gray;
}
.msg {
    background-color:#acc6d8;
    width: 80%;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px gray;
    color: black;
    border: 6px solid black;
}
.join {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:white;
    color:black;
    text-decoration: none;
    border-radius: 20%;
    padding: 5px;
    border: 4px ridge grey;
    box-shadow: 5px 5px 7px white;
}
.join:hover {
    background-color:aliceblue;
    color:darkslategray;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
}
footer, footer a, footer p {
    background-color:#d3301a;
    color:rgb(190, 170, 170);
    font-size: small;
    text-decoration: none;
}
footer a:hover {
    color: #fff6cb
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}