@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@1&family=PT+Serif:ital@1&display=swap');
:root {

#nav-bar {
    position: fixed;
    top: 0;
    width: 95%;
    z-index:2;
  }
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
#active {
    background-color: whitesmoke;
    color: steelblue;
}
div {
    max-width: 1600px;
}
#content {
    margin: 0 auto;
}
nav a {
    text-align: center;
    color:black;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;

}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725;
    color:rgb(113, 47, 47)
}
body {
    background-color: #396E94;
    font-family: 'Inclusive Sans', Arial, Helvetica, sans-serif;
}
header {
    background-color:#D4AC0D;
    font-family: 'PT Serif', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav a:hover {
    background-color: white;
    color:rgb(113, 47, 47);
}
.book {
    background-color:aquamarine;
    color:black;
    text-decoration: none;
}
.join {
    background-color:aliceblue;
    color:black;
    text-decoration: none;
}
.book:hover {
    background-color:darkcyan;
    color:darkslategrey;
}
.join:hover {
    background-color:darkblue;
    color:darkslategray;
}
#background {
    background-color:darkkhaki;
}
.msg {
    background-color:bisque;
}
.msg h2 {
    color:black;
}
.msg p {
    color:black;
}
footer {
    background-color:rgb(106, 99, 83);
    color:black;
}
footer a {
    color:black;
    text-decoration: none;
}
footer a:hover {
    color:brown;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.home-title {
    color:darkslategrey;
}
h4 {
    color:darkslategrey;
}
.icon {
    width: 80px;
}
.logo {
    width: 20px;
    border-radius: 50%
}
#hero-img {
    width:100%;

}
