@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@1&family=PT+Serif:ital@1&display=swap');
:root 

body {
    background-color: #6e8392;
    font-family: 'Inclusive Sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding:0;
    z-index: 1;
}
#content {
    margin: 0 auto;
    max-width: 1600px;
}
#content div {
    max-width: 1600px;

}
header {
    background-color:#fff6cb;
    font-family: Haettenschweiler,'PT Serif', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    display: grid;
    grid-template-columns: 150px auto;
    height: 75px;
}
.logo {
    width: 60px;
    border-radius: 50%;
    border: 2px solid black;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;;
}
nav a {
    text-align: center;
    color:black;
    text-decoration: none;
    padding: 5px;
}
nav a:hover {
    background-color: #6e8392;
    color:white;
    padding: 5px;
    width: 80px;
    margin-bottom: 20px
}
#hero {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width:100%;
    border-top: 7px #6e8392 solid ;
    margin-top: 70px;
}
#hero-msg h4 {
    color: white;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}
#hero-msg h1 {
    font-size: 50px;
}
.button-box {
    text-align: center;
    width: 100%;
    height: 25px;
}
.book {
    background-color: #fff6cb;
    color:black;
    text-decoration: none;
    text-align: center;
    width: 70px;
    height: 70px;
    padding: 5px; 
    border-radius: 10px;
    border: 4px ridge black
}
.book:hover {
    background-color:aliceblue;
    color:darkslategrey;
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(15, 70px);
}
.card-img1 { 
    text-align: left;
    border: 6px solid black;
    border-radius: 3%;
    height: 300px;
    width: 480px;
    transition: transform .5s;
    margin: 5px;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 1/2;
    grid-row: 1/4;
}

.card-img1:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img2 { 
    text-align: left;
    border: 6px solid black;
    border-radius: 3%;
    height: 300px;
    width: 480px;
    transition: transform .5s;
    margin: 5px;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 1/2;
    grid-row: 6/8;
}

.card-img2:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img3 { 
    text-align: left;
    border: 6px solid black;
    border-radius: 3%;
    height: 300px;
    width: 480px;
    transition: transform .5s;
    margin: 5px;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 1/2;
    grid-row: 11/14;
}

.card-img3:hover {
    opacity: .6;
    transform: scale(1.1);
}
main h2 {
    color: aliceblue;
    font-family: 'Arial Narrow Bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sal-title {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: stretch;
    align-content: stretch;
    padding: 1em;
}
.deso-title {
    grid-column: 2/3;
    grid-row: 6/6;
    justify-content: stretch;
    align-content: stretch;
    padding: 1em;
}
.grand-title {
    grid-column: 2/2;
    grid-row: 11/11;
    justify-content: stretch;
    align-content: end;
    padding: 1em;
}
.sal-para {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: top;
    align-content: start;
    padding: 1em;
}
.deso-para {
    grid-column: 2/3;
    grid-row: 7/9;
    justify-content: stretch;
    align-content: start;
    padding: 1em;
}
.grand-para {
    grid-column: 2/3;
    grid-row: 12/14;
    justify-content: ;
    align-content: start;
    padding: 1em;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer, footer a, footer p {
    background-color:#d3301a;
    color:rgb(190, 170, 170);
    font-size: small;
    text-decoration: none;
}
footer a:hover {
    color: #fff6cb
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}