/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #ffe4e4   ;
  --secondary-color: #6ba56389 ;
  --accent1-color: #f6927c;
  --accent2-color: rgb(246, 217, 145);

  /* change the values below to your chosen font(s) */
  --heading-font: "Euphoria+Script," Helvetica;
  --paragraph-font: "Bonodi+Moda", Helvetica, Serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: white;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: white; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: white;
  --nav-link-color: black;
  --nav-background-color: #ffe4e4 ;
  --nav-hover-link-color: #ffe4e4 ;
  --nav-hover-background-color: #396E94;
}
body {
    background-color: white;
    font-family: 'Inclusive Sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding:0;
    z-index: 1;
}
#content {
    margin: 0 auto;
    max-width: 1600px;
}
header {
    background-color: #fbe4e2;
    font-family: Haettenschweiler,'PT Serif', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    display: grid;
    grid-template-columns: 150px auto;
    height: 75px;
    max-width: 100%;
}
.logo {
    width: 60px;
    border-radius: 50%;
    border: 2px solid #fbe4e2;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;;
}
nav a {
    text-align: center;
    color:black;
    text-decoration: none;
    padding: 5px;
}
nav a:hover {
    background-color: #6e8392;
    color:white;
    padding: 5px;
    width: 80px;
    margin-bottom: 20px
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width:100%;
    padding-top: 90px;
    border-top: 7px #032c2e89 solid ;
}
#hero-msg h4 {
    color: white;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}
#hero-msg h1 {
    font-size: 50px;
}
.moveDown {
    margin-top: 3em;
}
ul {
list-style: none;
padding: 0;
margin: 0;
}
form li + li {
margin-top: 1em;
}
label {
/* Uniform size & alignment */
display: inline-block;
width: 90px;
text-align: right;
}
input,
textarea {
/* To make sure that all text fields have the same font settings
By default, textareas have a monospace font */
font: 1em sans-serif;
/* Uniform text field size */
width: 300px;
box-sizing: border-box;
/* Match form field borders */
border: 1px solid rgb(246, 217, 145);
}
input:focus,
textarea:focus {
/* Additional highlight for focused elements */
border-color: #000;
}
textarea {
/* Align multiline text fields with their labels */
vertical-align: top;
/* Provide space to type some text */
height: 5em;
}
.button {
/* Align buttons with the text fields */
padding-left: 150px; /* same size as the label elements */
}
button {
/* This extra margin represent roughly the same space as the space
    between the labels and their text fields */
margin-left: 0.5em;
color: black;
background-color: antiquewhite;
border: 2px solid rgb(246, 217, 145);
} 
.button-box {
    text-align: center;
    width: 100%;
    height: 25px;
}
.book {
    background-color: #fcf2f2;
    color:darkslategray;
    text-decoration: none;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 5px; 
    border-radius: 10px;
    border: 4px ridge #032c2e89;

}
.book:hover {
    background-color:#032c2e89;
    color:black;
    text-align: center;
}
.home-grid {
    display: grid;
    max-width: 1600px;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(3, 300px);  
}
#portrait {
    height: 200px;
    width: 180px;
    border-radius: 6%;
    border: 6px solid #64857c;
    grid-column: 1/3;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px #64857c;
    margin-top: 50px;
    margin-left: -350px;
}
.about {
    width: 900px;
    height: 150px;
    font-size: larger;
    grid-column: 3/5;
    grid-row: 1/2;
    border: 2px solid rgb(246, 217, 145);
    padding: 0px 0px 25px 25px;
    background-color:rgb(252, 244, 233);
    font-family: "Bonodi+Moda", Helvetica, Serif;;
    margin-left: -500px;
    margin-top: 65px;
}

#background {
    height: 900px;
    width: 100%;
    background-color:white;
    grid-column: 1/11;
    grid-row: 4/9;
}
.image {
    border-radius: 6%;
    border: 6px solid #64857c;
    transition: transform .5s;
    grid-column: 1/2;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #64857c;
    width: 400px;
    height: 250px;
    margin-top: 100px; 
}
.container {
    position: relative;
    width: 50%;
}
.overlay {
    position: absolute;
    grid-row: 3/4;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #64857c;
}
.container:hover .overlay {
    opacity: 1;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.contact {
    grid-column: 2/3;
    grid-row: 2/4;
    padding: 10px;
    padding-bottom: 30px;
    margin: 50px;
    margin-top: 75px;
    width: 300px;
    height:100px;
    border:2px solid rgb(246, 217, 145);
    font-size: larger;
    background-color: rgb(252, 244, 233);
    font-family: "Bonodi+Moda", Helvetica, Serif;
    box-shadow: 5px 5px 10px #64857c;
}
.contact p {
    font-weight: 600;
    text-align: center;
}
.schedule {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: left;
    padding-left: 20px ;
    margin: 50px;
    margin-top: -30px;
    width: 300px;
    height: 145px;
    border: 2px solid rgb(246, 217, 145);
    font-size: large;
    font-family: "Bonodi+Moda", Helvetica, Serif;
    background-color: rgb(252, 244, 233);
    box-shadow: 5px 5px 10px #64857c;
}
.schedule ul p {
    font-weight: 600;
    font-size: larger;
    font-family: "Bonodi+Moda", Helvetica, Serif;
    text-align: center;
}
form {
    grid-column: 3/4;
    grid-row: 3/4;
    justify-items: left;
    padding: 10px;
    margin: 20px;
    margin-top: -190px;
    border: 2px solid rgb(246, 217, 145);
    background-color: rgb(252, 244, 233);
    width: 400px;
    height: 200px;
    padding: 1em;
    border: 2px solid rgb (246, 217, 145);
    border-radius: 1em;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}
footer, footer a, footer p {
    background-color: #fbe4e2;
    color:rgb(190, 170, 170);
    font-size: small;
    text-decoration: none;
}
footer a:hover {
    color: white
}
.social a img {
    max-width: 50px;
    padding: 10px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}